{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "import"],
  "settings": {
    "import/resolver": { "typescript": true, "node": true },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"]
  },
  "rules": {
    "import/order": "error"
  },
  "overrides": [
    {
      "files": "./{frontend,engine}/**",
      "env": {
        "es2021": true,
        "browser": true
      }
    },
    {
      "files": "./frontend/**",
      "extends": ["plugin:react/recommended"],
      "plugins": ["react"],
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "rules": {
        "react/react-in-jsx-scope": "off"
      }
    },
    {
      "files": "./backend/**",
      "env": {
        "es2021": true,
        "node": true
      }
    }
  ]
}
